# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/

# Backend environment
backend/.env

# Frontend (Node)
frontend/node_modules/
frontend/dist/

# IDE
.idea/
*.iml
.vscode/

# Docker local overrides
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db